<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}{% endblock titre %}</title>
</head>
<body>
    
    <ul style="list-style-type: none;">
        <!--Changement-->
        <li style="display: inline; padding: 10px 20px;"><a href="{% url 'home' %}"> Accueil</a></li>
        <li style="display: inline; padding: 10px 20px;"><a href="{% url 'about' %}"> A propos</a></li>
        <li style="display: inline; padding: 10px 20px;"><a href="{% url 'articles' %}"> Articles</a></li>
        <li style="display: inline; padding: 10px 20px;"><a href="{% url 'contact' %}"> Contact</a></li>
        <li style="display: inline; padding: 10px 20px;"><a href="{% url 'users' %}"> Utilisateurs</a></li>
    </ul>
    {% block contenu %} {% endblock contenu %}
</body>
</html>
